
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}

/* MY CSS */

body {
    font-family: "Poppins", sans-serif;
}
.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    width: 100%;
    background-color: #00c9b7;
    padding: 20px 0px;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;

}

/* header */
/* icons */
.header-icon {
    margin-right: 10px;
    background-color: white;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    line-height: 40px;
    color: #00c9b7;
}
.buttons button{
    padding: 8px 40px 8px 30px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-right: 10px;

}

.buttons button:last-child {
    margin-right: 0;
}

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    font-size: 14px;
    color: #000;

}
.preloader{
}

.preloader img{

}

.menu{

}

.menu ul{
    float: right;
    display: flex;

}

.menu ul li{
  

}

.menu ul li a{
    margin-right: 10px;
    text-decoration: none;
    

}

.menu ul li a:visited{
    color: #000;
    

}

.banner-section{

}

.hero{
    position: relative;
    background: url('../images/hero.jpg');
    background-repeat: no-repeat;
    padding: 120px 0 200px 0;


}

.hero img{
    width: 100%;
    height: 375px;

    
}

.hero h1{
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 60px;
    color: #fff;
    transform: translate(-50%, -50%);
}

.submenu-section{
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
 
}

.submenu-section ul{
    display: flex;
    align-items: center;


}

.submenu-section ul li:first-child{
    margin-right: 15px;

}

.submenu-section ul li a{
    font-size: 14px;
    text-transform: uppercase;
}

.submenu-section ul li a i{
    padding-left: 7px;
    color: #00C9B7;
    font-size: 18px;
}

/* media-section */

.media-content-section{
    display: flex;

}

.media-content-left{
    background: url('../images/about-bg.jpg') no-repeat center /cover; 
    height: 723px;
    width: 50%;
    position: relative;
}

.media-content-left a{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-color: #00C9B7;
    text-align: center;
    line-height: 113px;
}

.media-content-left::after{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    content: "";
    z-index: 0;
    opacity: .5;
}

.media-content-right{
    width: 50%;
    float: right;
    padding: 120px 45px 120px 60px;
}







}    
.media-content-right title{
    

    
}


.title h2{
    position: relative;
    font-size: 40px;
    text-align: center;
    display: inline-block;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 30px;
    margin-top: 40px;
    text-transform: capitalize;

}

.media-content-right h2::after{
    position: absolute;
    content: "";
    left: 4%;
    transform: translateX(-50%);
    bottom: -20px;
    width: 40px;
    height: 4px;
    background: #00C9B7;
}

.media-content-right p{
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6em;
    position: relative;
}

.media-content-right ul li{
    margin-bottom: 15px;
}

.media-content-right ul li i{
    color: #00C9B7;
    margin-right: 5px;
}

/* skill area section */
/* about section */
/* image-section */


.skill-area{
    background: #F9F9F9;
}


.image-section{
    width: 50%;
}

.image-section img{
    margin-right: 20px;
    margin-bottom: 20px;
}

.experience{

}

.experience h3{
    color: #292929;
    font-size: 40px;
    line-height: 1.4;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.experience h3::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -1175px;
    width: 40px;
    height: 4px;
    background: #00C9B7;
}